<app-top-nav [isSideNavExpanded]="isExpanded" (toggleSideNav)="onToggleSideNav($event)"></app-top-nav>
<div class="main-container" [style.margin-left]="sideNavWidth + 'px'">
  <app-side-nav [navItems]="navItems" [isExpanded]="isExpanded" #sideNavContainer (itemClicked)="onItemClicked($event)"
    (toggle)="onToggleSideNav($event)" (widthChange)="onWidthChange($event)"></app-side-nav>
  <div class="side-nav-content">
    <h1>I'm conten and I should adjust</h1>
    <router-outlet></router-outlet>
  </div>
</div>