.main-container {
    // display: flex;
    // height: 100%;
    // align-items: center;
    // justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.side-nav-container {
    // flex-direction: row;
    // display: flex;
    // flex-wrap: wrap;
}