<a [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)" class="side-nav-item"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}">
  <span class="side-nav-item-icon">
    <i class="fas" [ngClass]="item.iconName"></i>
  </span>
  <span class="side-nav-item-name">{{item.displayName}}</span>

  <!-- <span fxFlex></span>
  <div class="arrow" *ngIf="!item.children && item.route ? router.isActive(item.route, true): false">
    <div class="point"></div>
  </div>

  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>

    <i class="fas fa-sort-down"></i>
  </span> -->
</a>
<div *ngIf="expanded">
  <app-side-nav-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-side-nav-list-item>
</div>

    <!-- <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon> -->